amqp==5.2.0
annotated-types==0.7.0
asgiref==3.7.2
async-timeout==4.0.3
billiard==4.2.1
bleach==6.0.0
cachetools==5.5.0
celery==5.4.0
certifi==2023.5.7
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.33.0
colorama==0.4.6
cron-descriptor==1.4.5
dj-database-url==2.0.0
Django==4.2.2
django-celery-beat==2.7.0
django-ckeditor==6.5.1
django-js-asset==2.0.0
django-quill-editor==0.1.40
django-summernote==0.8.20.0
django-timezone-field==7.0
django-tinymce==3.5.0
djangorestframework==3.15.2
google-ai-generativelanguage==0.6.10
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.2
googleapis-common-protos==1.65.0
grpcio==1.66.2
grpcio-status==1.66.2
gunicorn==20.1.0
httplib2==0.22.0
idna==3.10
kombu==5.4.2
Pillow==9.5.0
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==5.28.2
psycopg2-binary==2.9.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.1.4
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
redis==5.1.0
requests==2.32.3
rsa==4.9
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
allauth
jwt