{%load static%}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="{% static 'navbar.css'%}">  
  <link rel="stylesheet" href="{% static 'blog/css/post_html.css'%}"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body >
<section>
  <div>
    <p style="font-size:7vh;text-align: center;color: rgb(192, 53, 53);">
        🇳🇵 Travel to Nepal 🇳🇵
    </p>
</div>
<div style="max-height: 50px;" class="topnav" id="myTopnav">
  <a href="{% url 'blog' %}" >Home</a>
  <a href="{% url 'blogpost' %}">Post</a>
  <a href="{% url 'logout' %}">Logout</a>
  {% if request.user.is_authenticated%}<a href="{% url 'myblogs' request.user.username%}" >Myblogs</a>{%endif%}
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </a>
  <a style="pointer-events: none;" id="profile" href="#">Hello, {{request.user.username}}</a>
  <div class="search-container">
    <form action="{% url 'blog'%}">

      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
</section>

<center><section class="col-md-10" style="filter: brightness(100%);border-radius: 15px; background-color: rgb(202, 202, 17); padding: 10px; margin-top: 4%; margin-left: 2%;margin-right: 2%;margin-bottom: 2%; color: blue;">
    <form method="POST" class="row g-3" enctype="multipart/form-data">
      {% csrf_token %}
      <input name="post" value="{{post}}" hidden>
      <div class="col-12">
        <center><label style="font-size: 20px;" for="title1" class="form-label" >Title</label></center>
        <input  type="text" class="form-control" id="title" placeholder="Enter title here" maxlength="50" name="title" value="{{post.title}}">
      </div>     
      <div class="col-md-6">
          <center><label style="font-size: 20px" for="title1" class="form-label">Local Body Name</label></center>
          <input class="form-control"   type="text"  id="local_body" placeholder="Select an official name of the place.." name="local_body" value="{{post.local_body}}">
          <center><div style="color:blue;" id="value_check" class="form-text">Start typing to change.</div></center>
      </div>
      <div class="col-md-6">
        <center><label style="font-size: 20px" for="local_name" class="form-label">Local Name</label></center>
        <input type="text" class="form-control" id="local_name" name="local_name" placeholder="Enter local name of the place.." name="local_name" value="{{post.local_name}}">
      </div>
      <div class="col-md-12">
        <center><label style="font-size: 20px" for="main_img" class="form-label">Main Image (Cover Image)</label></center>
        <input class="form-control" type="file" id="main_img" name="main_img" value="{{post.main_img}}">
      </div>
      <div>
      <center><img style=" padding: 5px; border-style: solid;color: rgb(78, 117, 167);" class="img_preview" id="img_preview" src="#" alt="  Main image  "></center>
    </div><br>
    <div class="form-outline mb-4">
      <label style="font-size: 20px" for="content" class="form-label">Content of Blog</label>
      {{form.media}}
      {{form.content}}
      <!-- <textarea style="padding: 3px; border: #44bcb3 3px dashed;;color: #555555; background-color:#bee1f5;font-size: large;" class="form-control" id="content" rows="10" placeholder="Start typing.." name="content">{{post.content}}</textarea>
      <div style="margin-top: 1%; color:#555555;float: right;" id="value_check" class="form-text"><a id="increase_row" href="javascript:increase()">Click</a> to Increase size of textbox.</div> -->
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
    </form>

</section></center>
<div class="javascripts" style="display: none;">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="crossorigin="anonymous"></script>
    <script src="{% static 'blog/js/local_level.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      window.onload = function(){  
        document.getElementById("id_content_iframe").style.maxWidth="100%";
        img_preview.src="{{post.m_img_url}}"
        start();
        };  
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.style.removeProperty("max-height");
          document.getElementById("myTopnav").style.maxHeight ="";
          document.getElementById("profile").style.float="none";
          x.className += " responsive";
        } else {
          document.getElementById("myTopnav").style.maxHeight ="50px";
          x.className = "topnav";
        }
      };
      document.getElementById("local_body").onchange = function(){
        if(display_names.includes(document.getElementById("local_body").value)){
          value_check=document.getElementById("value_check");
          value_check.style.color="green";
          value_check.innerHTML="Selected!!";
        }else{
          value_check=document.getElementById("value_check");
          value_check.style.color="red";
          value_check.innerHTML="You must select from the given options!!";
          document.getElementById("local_body").value="{{post.local_body}}";
        }
      };
      main_img.onchange = evt => {
        const [file] = main_img.files
        if (file) {
          img_preview.src = URL.createObjectURL(file)
        }
      }
    </script>
  </div>
</body>
</html>