{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <button onclick="javascript:change()">Here...</button>
  <button onclick="javascript:caller()">Here...Caller</button>

    <div id="root" style="height:90vh;max-width:450px" data-avatarId="11" data-language="en"></div>
    <script src="{% static 'dist/assets/index-1785e332.js' %}"></script>
    <script>
      let okkk=1
      function change(){
        lang=document.getElementById("root").getAttribute('data-language');
        if(lang=="en"){
          document.getElementById("root").setAttribute('data-language',"np");
        }else{
          document.getElementById("root").setAttribute('data-language',"en");
        }
      }

      function caller(){
        closeReactApp();
      }

      const reactRoot = document.getElementById("root");

      function closeReactApp() {
        var language=document.getElementById("root").getAttribute('data-language');
        console.log(language);
          if (reactRoot) {
            if (window.resetAudio) {
              window.resetAudio(language); 
            }
          }
      }
    </script>

    <script>
{% comment %} checkstatus() {% endcomment %}

{% comment %} function checkstatus() {
  var lav = document.getElementById("useronline-status-icons");


  // AJAX GET request
  $.ajax({
    url: 'https://100014.pythonanywhere.com/api/live_users',
    type: 'GET',
    success: function(data) {
      console.log(data)
      lav.style.color="green"
      // lav.innerHTML = JSON.stringify(data);
    },
    error: function(error) {
      // console.error(error);
     lav.style.color="red"
    }
  });

  // AJAX POST request
  $.ajax({
    url: 'https://100014.pythonanywhere.com/en/live_status',
    type: 'POST',
    data: { session_id:"e2zsbklgmfv94y1sfrs39zelsmi2aok3",product: "Living Lab Admin"},
    success: function(data) {
      console.log(data);
    },
    error: function(error) {
      console.error(error);
    }
  });
}

setInterval(checkstatus, 10000); {% endcomment %}

</script>
</body>
</html>