<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <button id="mybtn">Click</button>
    <!-- <script>
        $('#mybtn').on('click',function(){
            $.ajax({
            type : "POST", 
            url: "https://100014.pythonanywhere.com/en/live_status",
            data: {
            uid:'1ray4cdm0xt9q52uoxjxyx2dob9vz6d2',
            product:'Client_admin',
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },  
            success: function(data){
              console.log(data);
            },   
            failure: function() {
            console.log("Not")
            } 
          });
        })
    </script> -->
    <script>

checkstatus()

function checkstatus() {
  var lav = document.getElementById("useronline-status-icons");


  // AJAX GET request
  $.ajax({
    url: 'https://100014.pythonanywhere.com/api/live_users',
    type: 'GET',
    success: function(data) {
      console.log(data)
      lav.style.color="green"
      // lav.innerHTML = JSON.stringify(data);
    },
    error: function(error) {
      // console.error(error);
     lav.style.color="red"
    }
  });

  // AJAX POST request
  $.ajax({
    url: 'https://100014.pythonanywhere.com/en/live_status',
    type: 'POST',
    data: { session_id:"f5u2udocbu8e3mg12hw9tb1h0h5wzcbe",product: "Living Lab Admin"},
    success: function(data) {
      console.log(data);
    },
    error: function(error) {
      console.error(error);
    }
  });
}

setInterval(checkstatus, 60000);

</script>
</body>
</html>