.top-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
}

.main-buttons{
    display:flex;
    justify-content:space-evenly;
    gap: 5px
}

.top-sub{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:5px;
    margin-top: 3px;
}
.top-sub button{
    text-decoration: none;
    border-radius: 10px;
    background-color:#ff9966;
    border: solid 1px;
    padding: 5px;
    font-size: large;
}

.comm-button{
    text-decoration: none;
    border-radius: 10px;
    background-color:#ff9966;
    border: solid 1px;
    padding: 5px;
    font-size: large;
    margin-top: 4px;
}

.read-button{
    text-decoration: none;
    border-radius: 4px;
    background-color: bisque;
    border: solid 1px;
}

.read-button:hover .tooltiptext{
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    margin-left: -70px; 
    bottom: 72%;
  }

.read-box{
    display: flex; 
    justify-content:flex-end;
    margin-top: 1%;
}

.read-box-sub{
    border: solid black 1px;
    padding: 4px;
    display: flex;
    justify-content: center;
    gap:4px;
}
.selectbox-read{
    padding: 2px;
    text-decoration: none;
    font-size: 1rem;
    
}
.read-box-sub button{
    text-decoration: none;
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity)) !important;
    border: none;
}

@media screen and (max-width: 1300px) {
    .top-main{
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 3px;
    }

}

@media screen and (max-width: 850px) {
    .top-main{
        flex-direction: column;
        align-items: center;
        /* flex-wrap:nowrap; */
    }
    .main-buttons{
        justify-content: center;
    }
}